[submodule "extern/wasm3"]
	path = extern/wasm3
	url = git@github.com:wasm3/wasm3.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "extern/mio"]
	path = extern/mio
	url = git@github.com:mandreyel/mio.git
[submodule "extern/json"]
	path = extern/json
	url = git@github.com:nlohmann/json.git
[submodule "extern/tensorflow"]
	path = extern/tensorflow
	url = git@github.com:tensorflow/tensorflow.git
[submodule "extern/gtest"]
	path = extern/gtest
	url = git@github.com:google/googletest.git
[submodule "extern/fast-cpp-csv-parser"]
	path = extern/fast-cpp-csv-parser
	url = git@github.com:ben-strasser/fast-cpp-csv-parser.git
